<a href="https://colab.research.google.com/github/Muhammad-Aneeq/GIAIC-AI-101-Python/blob/main/class13.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1 - is vs ==

2- Generators

3- List Comprehension

In [ ]:
# string
# Integer
# float
# boolean
# list
# tuple
# dict
# set
# None

Mutable Data Types (jo change ho ske)

In [ ]:
# list
# dictionary
# set

Immutable (jo change na ho ske)

In [ ]:
# string
# integer
# boolean
# tuple
# float
# None

In [ ]:
dishes = ["samose", "pakore", "fruit chat"]
dishes.append("ice cream")
print(dishes)

['samose', 'pakore', 'fruit chat', 'ice cream']

In [ ]:
name: str = "Aneeq Khatri"
number: int= 20

print(name)

Aneeq Khatri

In [ ]:
list1 = [1,2,3,4,5]
list2 = [1,2,3,4,5]

print(list1 == list2)
print(list1 is list2)

True
False

In [ ]:
list1 = [1,2,3,4,5]
list2 = list1

print(list1 == list2)
print(list1 is list2)

True
True

In [ ]:
name1 = "Aneeq how are you? i am fine"
name2 = "Aneeq how are you? i am fine"
num1 =
num2 = 2.5

bool1 = True
bool2 = True

print(name1 is name2)
print(num1  is num2)
print(bool1 is bool2)

False
False
True

In [ ]:
list1 = [1,2,3,4,5]
list2 = list1  # list1 ka reference
list1.append(6) # [1,2,3,4,5,6]

print("list2>>>",list2) # list1 ka reference

list2>>> [1, 2, 3, 4, 5, 6]

In [ ]:
value1: str = "how are you? "
value2: str = value1 #  "how are you? "

value1 = "I am fine"
value2 = value1 # "I am fine"

print(value2)

I am fine

In [ ]:

sqr_list = []
def get_sqr_list(n: int):
   for num in range(0,n):  #[0,1,2,3,4]
    # print("num>>>",num)
    sqr_num = num * num # 0 * 0 -> 1 * 1 -> 2 * 2
    # print("sqr_num>>",sqr_num)
    sqr_list.append(sqr_num) # [] -> [0] -> [0,1] ->  [0,1,4]

get_sqr_list(5)
print(sqr_list)

[0, 1, 4, 9, 16]

In [ ]:

def get_sqr_list(n: int):
  # for num in range(n):
        # num * num
    # sqr_list = [output loop with condition]
  # sqr_list = [num * num for num in range(n)]
  sqr_list = [num * num for num in range(5)]
  print("sqr_list>>>",sqr_list)


get_sqr_list(5)

sqr_list>>> [0, 1, 4, 9, 16]

In [ ]:
numbers = [1,2,3,4,5,6,7,8,9,10]
even_numbers = []

# if num % 2 == 0:
#    print("number is even")
# print(13  % 2 )

for num in numbers:
  if num % 2 == 0:
    even_numbers.append(num)

print(even_numbers)

[2, 4, 6, 8, 10]

In [ ]:
numbers = [1,2,3,4,5,6,7,8,9,10]
#  num ko return kro agr num wo even he
even_list = [num for num in numbers if num % 2 == 0]

print(even_list)

[2, 4, 6, 8, 10]

In [ ]:
def get_numbers():
  result = []
  for num in range(0,11):
    result.append(num)
  return result


number_list =get_numbers()
print(number_list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
def get_generated_values():
  for num in range(0,11):
    yield num  # 0 -> 1


result = get_generated_values()
# print(next(result))
# print(next(result))
# print(next(result))
# print(next(result))
# print(next(result))
# print(next(result))
# print(next(result))
# print(next(result))
# print(next(result))
# print(next(result))
# print(next(result))

for num in result:
  print("nuum>>>",num)


# print("result>>",result)

nuum>>> 0
nuum>>> 1
nuum>>> 2
nuum>>> 3
nuum>>> 4
nuum>>> 5
nuum>>> 6
nuum>>> 7
nuum>>> 8
nuum>>> 9
nuum>>> 10